include header.jade
nav.navbar-inverse.navbar-fixed-top
  .navbar-header
    a.navbar-brand("git-mirror-sync.herokuapp.com") Git Mirror Sync
  ul.nav.navbar-nav.navbar-right
    li
      a(href="https://github.com/git-mirror-sync/git-mirror-sync") Fork me on GitHub
        i.fa.fa-code-fork
    li
      a(href="/logout") Sign Out
        i.fa.fa-sign-out
.container
  .col-xs-10.wrapper.text-center.col-xs-offset-1
    .row
      h2 Keep all your GitHub repos mirrored safely on BitBucket
    .row
      .col-xs-12.col-sm-6
        .panel.panel-default.disabled
          .panel-heading
            h3 Step 1:
          .panel-body
            p Sign in with GitHub
            a
              i.fa.fa-github.fa-4x(title="Sign in with GitHub")
      .col-xs-12.col-sm-6
        .panel.panel-default.disabled
          .panel-heading
            h3 Step 2:
          .panel-body
            p Connect your BitBucket account 
            a
              i.fa.fa-bitbucket.fa-4x(title="Login with BitBucket")
    .row
      .col.col-xs-12
        .panel.panel-primary
          .panel-heading
            h3 Step 3:
          .panel-body
            p Add the webhook to your GitHub repos:
            pre https://git-mirror-sync.herokuapp.com/
            p.bg-warning
              small
                i IMPORTANT:
                br
                i If your repo is part of a GitHub organization you will have to first create a BitBucket team with a matching name.
    .row
      .col.col-xs-12
        .panel.panel-default
          .panel-heading
            h3 Logs:
          .panel-body
            table.logs.text-left.table.table-hover.table-bordered
              tr
                td
                  h4 date
                td
                  h4 status
                td
                  h4 repo
                td
                  h4 message
              each val in logs
                if val.status == "success"
                  tr.success
                    td
                      span.log-time= val.time
                    td
                      span.log-status= val.status
                    td
                      span.log-repo= val.repo
                    td
                      span.log-repo= val.message
                else if val.status == "error"
                  tr.danger
                    td
                      span.log-time= val.time
                    td
                      span.log-status= val.status
                    td
                      span.log-repo= val.repo
                    td
                      span.log-repo= val.message
                else
                  tr.warning
                    td
                      span.log-time= val.time
                    td
                      span.log-status= val.status
                    td
                      span.log-repo= val.repo
                    td
                      span.log-repo= val.message
include footer.jade

